
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there,</h1>
    <p>
      Hope you're doing well. I live in the neighborhood and shop at your store.
      I was looking for some items made by <%= @producer.name %> but noticed you don't carry them.
    </p>
    <p>
      Do you think you'd be interested in picking up their products? I'd definitely buy them if you did.
    </p>
    <p>
      Thanks!
    </p>
    <p>@customer.name</p>
  </body>
</html>
